
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



body{
    background: rgba(91,0,139,255);
    background: linear-gradient(0deg,
    rgb(39, 1, 59) 0%,
     rgb(43, 3, 65) 0%,
     rgb(91,0,139) 100%
    );
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
   font-family: 'Abel', sans-serif;
}

.pfp {
    border-radius: 50%;
    width: 200px;
}

#ProfileImageBox {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    padding-top: 35px;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    color: rgba(245, 243, 247, 0.673);
}


a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    text-decoration: none;
    background-color: rgba(247, 243, 243, 0.949);
    font-size: 2rem;
    color: rgba(71, 0, 119, 0.822);
    margin: 30px;
    padding: 30px;
}

a:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 10px 2px rgba(16, 2, 26, 0.865);
}

#footer {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.223);
    display: flex;
    align-items: center;
    justify-content: center;
}